## Load and explore the Pokemon Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pokemon =pd.read_csv('data/Pokemon.csv')

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(pokemon['Type 1'])
pokemon['Type 1']= le.transform(pokemon['Type 1'])
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,9,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,9,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,9,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,9,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,6,NaN,309,39,52,43,60,50,65,1,False

Split the target atribute from the data

In [3]:
y =pokemon['Type 1'].values
print(len(y))
X = pokemon.drop(['Type 1'], axis=1)

800

It is aways a good idea to split a dataset into training and testing parts before preprossesing the data and then do not look at the training set at all until the classifier is built. This is done in order to avoid accidentally overfitting the testing set.

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [5]:
X_train.head()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
501,451,Skorupi,Bug,330,40,50,90,30,55,65,4,False
334,307,Meditite,Psychic,280,30,40,55,40,55,60,3,False
285,262,Mightyena,NaN,420,70,90,70,60,60,70,3,False
18,15,Beedrill,Poison,395,65,90,40,45,80,75,1,False
584,525,Boldore,NaN,390,70,105,105,50,40,20,5,False

In [26]:
X_train, X_test =X_train.drop(['#','Name','Legendary','Type 2'], axis=1), X_test.drop(['#','Name','Legendary','Type 2'],axis=1)

I removed Legendary, #, Name and Typ2 3 atributes because they are useless in predicting the correct class in the future

In [27]:
X_train.head()

     Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
501    330  40      50       90       30       55     65           4
334    280  30      40       55       40       55     60           3
285    420  70      90       70       60       60     70           3
18     395  65      90       40       45       80     75           1
584    390  70     105      105       50       40     20           5

In [31]:
from sklearn import preprocessing

X_train = preprocessing.normalize(X_train, norm='l2')
X_test = preprocessing.normalize(X_test, norm='l2')

Let's look at the training data and see what preprocessing has to be done

In [32]:
X_train.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

Lets try couple of classifiers and pick the best one:

In [36]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.208333333333

As we can see Gaussian Naive Bayes did not classify the training data very well. Lets try Linear Support Vector Classification as it is also good for data with high dimentionality:

In [37]:
from sklearn import svm
clf = svm.SVC(decision_function_shape='ovo')
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.147727272727

In [38]:
clf = svm.LinearSVC()
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.166666666667

In [40]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10, max_depth=None,
    min_samples_split=2, random_state=0)
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.265151515152