## Load and explore the Pokemon Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pokemon =pd.read_csv('data/Pokemon.csv')

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(pokemon['Type 1'])
pokemon['Type 1']= le.transform(pokemon['Type 1'])
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,9,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,9,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,9,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,9,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,6,NaN,309,39,52,43,60,50,65,1,False

Split the target atribute from the data

In [3]:
y =pokemon['Type 1'].values
print(len(y))
X = pokemon.drop(['Type 1'], axis=1)

800

It is aways a good idea to split a dataset into training and testing parts before preprossesing the data and then do not look at the training set at all until the classifier is built. This is done in order to avoid accidentally overfitting the testing set.

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [5]:

X_train.head()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
501,451,Skorupi,Bug,330,40,50,90,30,55,65,4,False
334,307,Meditite,Psychic,280,30,40,55,40,55,60,3,False
285,262,Mightyena,NaN,420,70,90,70,60,60,70,3,False
18,15,Beedrill,Poison,395,65,90,40,45,80,75,1,False
584,525,Boldore,NaN,390,70,105,105,50,40,20,5,False

In [6]:
X_train, X_test =X_train.drop(['#','Name','Legendary','Type 2'], axis=1), X_test.drop(['#','Name','Legendary','Type 2'],axis=1)

I removed Legendary, #, Name and Typ2 3 atributes because they are useless in predicting the correct class in the future

In [7]:
X_train.head()

     Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
501    330  40      50       90       30       55     65           4
334    280  30      40       55       40       55     60           3
285    420  70      90       70       60       60     70           3
18     395  65      90       40       45       80     75           1
584    390  70     105      105       50       40     20           5

Let's look at the training data and see what preprocessing has to be done

In [8]:
X_train.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000
mean,433.343284,69.203358,79.063433,73.212687,72.354478,71.251866,68.257463,3.328358
std,121.121032,25.610849,32.338335,31.412295,31.933888,28.262951,29.127065,1.639586
min,180.000000,20.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,325.000000,50.000000,55.000000,50.000000,48.750000,50.000000,45.000000,2.000000
50%,440.000000,66.000000,75.000000,70.000000,65.000000,65.500000,65.000000,3.000000
75%,515.000000,80.000000,100.000000,90.000000,95.000000,89.000000,90.000000,5.000000
max,780.000000,255.000000,190.000000,230.000000,180.000000,230.000000,160.000000,6.000000

As we can see there are no mising values, but the variance in the data is quite hight

Lets try couple of classifiers and pick the best one:

In [9]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.189393939394

As we can see Gaussian Naive Bayes did not classify the training data very well. Lets try Linear Support Vector Classification as it is also good for data with high dimentionality:

In [12]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
print("mean accuracy on the given test data and labels is:", clf.score(X_test, y_test))

mean accuracy on the given test data and labels is: 0.170454545455